@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<AttendanceRecords.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Расписание</h1>

<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
    {
        <a asp-action="Create">Добавить запись</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FIO)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.ScheduleId">Детали</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ScheduleId">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.ScheduleId">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
