@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<AttendanceRecords.Models.Skip>

@{
    ViewData["Title"] = "Index";
}

<h1>Посещения</h1>
<h1>Студент: @ViewData["FIO"]</h1>

<p>
    <a asp-action="Index" asp-controller="Students">Возврат к списку студентов</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
    {
        <br />

        <a asp-action="Create" asp-route-id="@ViewData["IdStudent"]">Добавить отметку о посещении</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.SkipId">Детали</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.SkipId">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.SkipId">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
